<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/add_book_style.css}">
    <script type="text/javascript" th:src="@{/js/add_book.js}"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/getBooks">Books</a></li>
                <li><a href="/viewGenre">Genres</a></li>
                <li><a href="/viewUsers">Users</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>

        <!-- Main Content Area -->
        <div class="main-content">
            <div class="header">
                <h1>Add New Book</h1>
            </div>
            <div class="form-container">
                    <form id="bookForm" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="image-upload-container" onclick="document.getElementById('image-upload').click()">
                                <input type="file" id="image-upload" accept=".jpg, .jpeg" name="imageFile" onchange="previewImage(event)" hidden >
                                <div id="image-content">
                                    <img id="image-preview" class="image-preview" src="" alt="">
                                    <div id="image-placeholder" class="image-placeholder">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        <p>Upload an image</p>
                                    </div>
                                </div>
                                <!-- Note for accepted formats -->
                                <p id="file-format-note" style="color: red; font-size: 12px; display: none;">
                                    Only .jpg and .jpeg formats are allowed.
                                </p>
                            </div>
                    
                            <div class="form-group book-name-container">
                                <label for="bookTitle">Name of Book</label>
                                <input type="text" id="bookTitle" name="bookTitle" placeholder="Enter book title" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="genres">Select Genre</label>
                            <select id="genres" name="genres" onchange="updateSelectedGenres()">
                                <option class="disabled-selection" value="" disabled selected>Select Genre</option>
                                <option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.name}"></option>
                            </select>
                        </div>
                    
                        <!-- Selected genres container (genres selected by the user will appear here) -->
                        <div class="form-group">
                            <div class="selected-genre-container" id="selected-genres">
                                <div th:each="selectedGenre : ${selectedGenres}" class="selected-genre">
                                    <span th:text="${selectedGenre}"></span>
                                    <span class="remove">x</span>
                                </div>
                            </div>
                        </div>
                       
                        <!-- Hidden input field to send selected genre IDs -->
                        <input type="hidden" id="selected-genre-ids" name="genres" value="">

                        <!-- ISBN Number -->
                        <div class="form-group">
                            <label for="isbn">ISBN Number</label>
                            <input type="number" id="isbn" name="isbn" placeholder="Enter ISBN Number" pattern="\d{10}" title="ISBN must be exactly 10 digits" required>
                        </div>

                        <!-- Author Name -->
                        <div class="form-group">
                            <label for="authorName">Author Name</label>
                            <input type="text" id="authorName" name="authorName" placeholder="Enter author name" required>
                        </div>

                        <!-- Price -->
                        <div class="form-group">
                            <label for="price">Price ($)</label>
                            <input type="number" id="price" name="price" step="any" placeholder="$" required>
                        </div>

                        <!-- Rating -->
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <select name="rating" id="rating">
                                <option class="disabled-selection" value="" disabled selected>Select Rating</option>
                                <option value="1">1.0</option>
                                <option value="2">2.0</option>
                                <option value="3">3.0</option>
                                <option value="4">4.0</option>
                                <option value="5">5.0</option>
                            </select>
                        </div>

                        <!-- Publisher -->
                        <div class="form-group">
                            <label for="publisher">Publisher</label>
                            <input type="text" id="publisher" name="publisher" placeholder="Enter publisher name" required>
                        </div>

                        <!-- Publication Year -->
                        <div class="form-group">
                            <label for="publicationYear">Publication Year</label>
                            <select id="publicationYear" name="publicationYear" required>
                                <option class="disabled-selection" value="" disabled selected>Select Year</option>
                                <option th:each="i : ${#numbers.sequence(1500, 2080)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" placeholder="Enter book description" required></textarea>
                        </div>

                        <!-- Edition -->
                        <div class="form-group">
                            <label for="edition">Edition</label>
                            <input type="text" id="edition" name="edition" placeholder="Enter edition" required>
                        </div>

                        <!-- Page Count -->
                        <div class="form-group">
                            <label for="pageCount">Page Count</label>
                            <input type="number" id="pageCount" name="pageCount" placeholder="Enter page count" required>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Book</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>