<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/users_style.css}">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/getBooks">Books</a></li>
                <li><a href="/viewGenre">Genres</a></li>
                <li><a href="/viewUsers">Users</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Users</h1>
        </div>
    </div>
</body>
</html>